#navbar {
    flex-direction: column;
    background-color: #C2E7DA;
    padding: 2px;
    border: solid 2px black;
}

#navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
}

#navbar ul a{
    text-decoration: none;
    color: black;
    border: solid 2px #6290C3;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

